// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  background: #3379B8;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 0px 6px 6px 0px;
  border: none;
  margin-left: 0;
  font-size: 16px;
}

.form-control {
  margin-left: auto;
  margin-right: 0px;
  padding: 15px;
  width: 400px;
  font-size: 14px;
  border-radius: 6px 0px 0px 6px;
  border: 0.5px solid #D7D7D7;
}

.container {
  margin: 30px 0;
  background-color: #FFFEE1;
  border-left: 10px solid #DDDDDD;
  padding: 20px;
    p {
  font-style: italic;
  }
}

.query {
  font-weight: lighter;
}

.answer {
  font-weight: bold;
}

